[submodule "esp-homekit"]
	path = esp-homekit
	url = https://github.com/HomeACcessoryKid/esp-homekit
[submodule "esp-wolfssl"]
	path = esp-wolfssl
	url = https://github.com/HomeACcessoryKid/esp-wolfssl
[submodule "esp-cjson"]
	path = esp-cjson
	url = https://github.com/HomeACcessoryKid/esp-cjson
[submodule "esp-wifi-config"]
	path = esp-wifi-config
	url = https://github.com/HomeACcessoryKid/esp-wifi-config
[submodule "esp-adv-button"]
	path = esp-adv-button
	url = https://github.com/HomeACcessoryKid/esp-adv-button
[submodule "UDPlogger"]
	path = UDPlogger
	url = https://github.com/HomeACcessoryKid/UDPlogger
